<div class="inventoryColumn">
    <h2 class="loginTitle">{{inventory.genre}} Inventory</h2>
    <h2>Add to Inventory</h2>
    <form class="orderAdd" id="addToInventory">
        <div class="addInventory">
            <label>Genre:</label>
            <select id="albumGenre">
                <option >Select</option>
                <option value="1">Rock</option>
                <option value="2">Pop</option>
                <option value="3">Rap</option>
                <option value="4">Country</option>
            </select>
        </div>
        <div class="addInventory">
            <label>Band Name:</label>
            <input type="text" name="id" id="albumBandName">
        </div>
        <div class="addInventory">
            <label>Album Name:</label>
            <input type="text" name="id" id="albumName">
        </div>
        <div class="addInventory">
            <label>Price:</label>
            <input type="text" name="id" id="albumPrice">
        </div>
        <div class="addInventory">
            <label>Stock:</label>
            <input type="text" name="id" id="albumStock">
        </div>
        <div class="inventoryButton">
            <button class="addButton" type="submit">Add Inventory</button>
        </div>
    </form>
    {{#each inventory.album}}
    <div class="inventoryCard">
        <h3>Band Name: {{artist_name}}</h3>
        <h3>Album Name: {{album_name}}</h3>
        <h3>Price: {{price}}</h3>
        <h3>Stock: {{stock}}</h3>
    </div>
    {{/each}}
</div>